<div class="root">
  <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="app-name has-gradient-text">Kanban Board</h1>
      </div>
    </div>
  </div>

  <div class="board">

    <div class="board-bar">
      <p class="board-name">Board Name</p>
    </div>

    <div class="board-wrapper">
      <div class="board-columns" cdkDropListGroup>
        <div class="board-column">
          <div class="column-title">
            Column Name: Ideas
          </div>
          </div>

          <!-- <div class="tasks-container">
            <div class="task" >
              Items
            </div>
          </div>
        </div> -->

        <div class="board-column">
          <div class="column-title">
            Column Name: Todo's
          </div>
        </div>
        <div class="board-column">
          <div class="column-title">
            Column Name: Completed
          </div>
        </div>
        <div class="board-column">
          <div class="column-title">
            Column Name: In Progress
          </div>
        </div>
        <div class="board-column">
          <div class="column-title">
            Column Name: Assigned
          </div>
        </div>
        <div class="board-column">
          <div class="column-title">
            Column Name: Unassigned
          </div>
        </div>
        <div class="board-column">
          <div class="column-title">
            Column Name: Pending
          </div>
        </div>
        <div class="board-column">
          <div class="column-title">
            Column Name: Merged
          </div>
        </div>
      </div>
    </div>
  </div>
</div>